* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: 0;
    background-color: var(--color-blue-50);
    overflow: hidden;
}
button {
    cursor: pointer;
    border: unset;
}
.hidden {
    display: none !important;
}
.hidden-feedback {
    visibility: hidden;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 3px !important;
}
::-webkit-scrollbar-track {
    background: var(--color-light-blue);
}
::-webkit-scrollbar-thumb {
    background: var(--color-blue-navy-900);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-blue-700);
}

/* für Firefox */

@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-blue-navy-900) var(--color-light-blue);
  }
}

/* Landscape mode */

.landscape-warning {
    display: none;
  }
  
  @media (max-width: 900px) and (orientation: landscape) {
    .landscape-warning {
      display: flex;
      position: fixed;
      inset: 0;
      z-index: 9999;
      background-color: var(--color-blue-navy-900);
      color: var(--color-white);
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px;
    }
    body > *:not(.landscape-warning) {
      display: none;
    }
  }
