<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desktop Template</title>
   <link rel="stylesheet" href="/styles/sidebar.css">
   <link rel="stylesheet" href="/styles/font.css">
   <link rel="icon"
      href="../assets/img/logo/favicon_light.svg"
      media="(prefers-color-scheme: light)"
      type="image/svg+xml">
    <link rel="icon"
      href="../assets/img/logo/favicon_dark.svg"
      media="(prefers-color-scheme: dark)"
      type="image/svg+xml">
</head>
<body>
    <div class="sidebar">
        <div class="join-logo">
            <img src="/assets/img/join-logo.png" alt="Join logo" class="join-logo-img" />
        </div>
        <div class="sidebar-nav-container">
            <nav class="sidebar-nav">
                <a href="/html/summary.html" class="nav-item">
                    <img src="/assets/icons/summary.png" alt="">
                    <span>Summary</span>
                </a>
                <a href="/html/add_task.html" class="nav-item">
                    <img src="/assets/icons/add_task.png" alt="">
                    <span>Add Task</span>
                </a>
                <a href="/html/board.html" class="nav-item">
                    <img src="/assets/icons/board.png" alt="">
                    <span>Board</span>
                </a>
                <a href="/html/contacts.html" class="nav-item">
                    <img src="/assets/icons/contacts.png" alt="">
                    <span>Contacts</span>
                </a>
            </nav>
        </div>
        <div class="sidebar-footer">
            <a href="/html/privacy_policy.html">Privacy Policy</a>
            <a href="/html/legal_notice.html">Legal notice</a>
        </div>
    </div>
    

    <main class="content">

    </main>
</body>
</html>