/* General */

.contact-info {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 400;
    gap: 12px;
}
.contact-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    min-width: 0;
}
.contact-circle {
    width: 40px;
    height: 40px;

    min-width: 40px;
    min-height: 40px;

    flex-shrink: 0;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-white);
    font-size: 14px;
    font-weight: 500;
    border: 2px solid var(--color-white);
}
.show {
    display: block;
}


/* Inputs */

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.input-group label {
    margin-bottom: 8px;
    font-size: 20px;
}
input:not(.search-task, .btn-search-task),
textarea {
    width: 440px;
    height: 48px;

    border: 1px solid var(--color-gray-600);
    color: var(--color-black);

    border-radius: 10px;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 400;

    cursor: pointer;
}
input.hover-input:hover {
    border: 1px solid var(--color-gray-300); 
}
textarea.hover-input:hover {
    border: 1px solid var(--color-gray-300); 
}
.textarea-wrapper textarea:hover {
    border: 1px solid var(--color-gray-300); 
}
.dropdown-container:hover {
    border: 1px solid var(--color-gray-300);
}
input:not(.search-task)::placeholder,
textarea::placeholder {
    color: var(--color-gray-300);
}
input:not(.search-task):focus,
textarea:focus {
    outline: none;
    border-color: var(--color-blue-petrol) !important;
}
input[type="date"] {
    color: var(--color-gray-300);
}
input[type="date"]:valid {
    color: var(--color-black);
}
textarea {
    resize: none;
    height: 120px;
}
.textarea-wrapper {
    position: relative;
    width: 100%;
}
.textarea-wrapper textarea {
    max-height: 200px;
    min-height: 100px;
    padding: 12px 16px;
    resize: vertical;
}
.textarea-icon {
    position: absolute;
    right: 12px;
    bottom: 10px;
    width: 16px;
    height: 16px;
    pointer-events: none;
}


/* Priority */

.priority-container {
    display: flex;
    gap: 16px;
}
.priority {
    flex: 1;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--color-white);
    border: 1px solid var(--color-gray-300);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: 20px;
    font-family: inherit;
    cursor: pointer;
    transition: .15s;
}
.priority img {
    object-fit: contain;
}
.priority:hover {
    box-shadow: 0 4px 4px var(--color-black-16);
}
.priority.active img {
    filter: brightness(0) invert(1);
}
.priority.urgent.active {
    background: var(--color-red-200);
    color: var(--color-white);
    border-color: var(--color-red-200);
}
.priority.medium.active {
    background: var(--color-orange);
    color: var(--color-white);
    border-color: var(--color-orange);
}
.priority.low.active {
    background: var(--color-green);
    color: var(--color-white);
    border-color: var(--color-green);
}


/* Dropdown */

.dropdown {
    height: 48px;
    width: 440px;
    border: 1px solid var(--color-gray-600);
    background-color: var(--color-white);
    color: var(--color-gray-300);
    border-radius: 10px;
    padding: 0;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown img {
    width: 20px;
    transition: .2s;
}
.dropdown-menu {
    position: absolute;
    top: 48px;
    width: 100%;
    max-height: 250px;

    display: none;
    overflow-y: auto;
    overflow-x: hidden;

    background: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 4px 12px var(--color-black-16);
    z-index: 5;
}
.scroll-bar-dropdown {
    width: 100%;
    height: calc(100vh - 350px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
    cursor: pointer;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-black);
    padding: 12px 14px;
}
.category-item {
    font-size: 20px;
}
.dropdown-item:hover {
    background-color: var(--color-gray-300);
}
.dropdown-item.selected {
    background-color: var(--color-blue-navy-900);
    color: var(--color-white);
}
.dropdown-item.selected:hover {
    background-color: var(--color-blue-navy-1000);
}
.dropdown-container {
    position: relative;
    height: 48px;
    width: 440px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--color-gray-600);
    border-radius: 10px;

    background-color: var(--color-white);
    color: var(--color-gray-300);
    cursor: pointer;
}
.arrow-dropdown {
    width: 24px;
    height: 24px;

    margin-right: 20px;
    border: unset;
    background-color: transparent;

    background-image: url("../assets/img/dropdown/Property 1=Default.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
    flex-shrink: 0;
}
.arrow-dropdown:hover {
    border-radius: 30%;
    background-color: var(--color-gray-300);
}
.rotate {
    transform: rotate(180deg);
}
.dropdown-item input[type="checkbox"] {
    appearance: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url(../assets/img/board/cards/check-btn.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}
.dropdown-item input[type="checkbox"]:checked {
    background-image: url(../assets/img/dropdown/check_active.svg);
}
.dropdown-container input {
    border: none;
    height: 46px;
}
input.dropdown::placeholder {
    color: var(--color-black);
}
.dropdown-container:focus-within {
    border-color: var(--color-blue-petrol);
}
.empty-contact {
    color: var(--color-red-100);
}
.empty-contact:hover {
    background-color: transparent;
}

/* Buttons */

.button-area {
    display: flex;
    gap: 16px;
}
.clear-btn,
.create-btn {
    height: 56px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: .15s;
}
.clear-btn {
    background: var(--color-white);
    border: 1px solid var(--color-blue-navy-900);
    color: var(--color-blue-navy-900);
    width: 110px;
}
.clear-btn:hover {
    transform: scale(1.01);
    box-shadow: 0px 4px 4px 0px var(--color-black-25);
}
.create-btn {
    background: var(--color-blue-navy-900);
    color: var(--color-white);
    border: none;
    width: 185px;
}
.create-btn:hover {
    transform: scale(1.01);
    background: var(--color-blue-petrol);
    box-shadow: 0px 4px 4px 0px var(--color-black-25);
}


/* Overlay */

.add-task-overlay {
    max-width: 1100px;
    max-height: 870px;

    position: fixed;
    padding: 50px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: var(--color-white);

    z-index: 1000;

    border-radius: 30px;
    overflow-y: auto;

    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}
.add-task-overlay::backdrop {
    background-color: var(--color-black-50);
}
.add-task-overlay.show {
    display: block;
}
.btn-close-overlay {
    position: absolute;
    top: 32px;
    right: 32px;

    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background: transparent;

    font-size: 30px;
    color: var(--color-blue-navy-900);

    cursor: pointer;

    border-radius: 50%;
}
.btn-close-overlay:hover {
    background: var(--color-gray-200);
}
.add-task-overlay.show .add-task-container h1 {
    font-size: 46px;
    margin-bottom: 40px;
}
.add-task-overlay.show .bottom-area {
    margin-top: 40px;
}
