/* ---------- General ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F6F7F8;
    font-family: 'Inter', sans-serif;
}
.dropdown-container{
    position:relative;
}

.dropdown{
    height: 48px;
    width: 440px;
    border: 1px solid var(--font-legalnotice);
    background-color: white;
    color: var(--border-color-input);
    border-radius: 10px;
    padding: 0;
    cursor: pointer;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.dropdown img{

    width:20px;

    transition:.2s;
}

.dropdown-menu{

    position:absolute;
    top:48px;
    width:100%;
    display:none;
    background:white;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,.15);
    overflow:hidden;
    z-index:5;
}

.dropdown-menu.show{
    display:block;
}
.show {
    display: block;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 12px 16px;
}
.dropdown-item input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.category-item {
    font-size: 20px;
}

.dropdown-item:hover{
    background-color: var(--background-status-bar-default);
}
.dropdown-item.selected {
    background-color: var(--sidebar-background);
    color: white;
}

.dropdown-item.selected:hover {
    background-color: var(--active-sidebar);
}

.contact-info {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 400;
    gap: 12px;
}

.contact-circle {
    width: 40px;
    height: 40px;

    min-width: 40px;
    min-height: 40px;

    flex-shrink: 0;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid white;
}

.blue{
    background:#29ABE2;
}

.orange{
    background:#FF7A00;
}

.purple{
    background:#9327FF;
}

.app {
    display: flex;
    min-height: 100vh;
}

/* ---------- Main Content ---------- */

.content-addtask {
    padding: 180px 0px 0px 322px;
}

/* ---------- Header ---------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    margin-bottom: 50px;
}

.user-profile {
    width: 56px;
    height: 56px;
    border: 3px solid #2A3647;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #29ABE2;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

/* ---------- Title ---------- */

.add-task-container h1 {
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 45px;
}

/* ---------- Form ---------- */

.form-wrapper {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.left-side,
.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;

    width: 440px;
}

.separator {
    width: 1px;
    background: #D1D1D1;
    min-height: 450px;
}

/* ---------- Inputs ---------- */

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.input-group label {
    margin-bottom: 8px;
    font-size: 20px;
}

input:not(.search-task,.btn-search-task),
textarea {
    width: 440px;
    height: 48px;

    border: 1px solid var(--font-legalnotice);
    color: black;

    border-radius: 10px;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 400;

    cursor: pointer;
}

input.hover-input:hover {
    border: 1px solid var(--color-footer) !important;
}
textarea.hover-input:hover {
    border: 1px solid var(--color-footer) !important;
}


.textarea-wrapper textarea:hover {
    border: 1px solid var(--color-footer);
}
.dropdown-container:hover {
    border: 1px solid var(--color-footer);
}

input:not(.search-task)::placeholder,
textarea::placeholder {
    color: var(--border-color-input);
}

input:not(.search-task):focus,
textarea:focus {
    outline: none;
    border-color: var(--border-input-active);
}

input[type="date"] {
    color: var(--border-color-input);
}

input[type="date"]:valid {
    color: black;
}


.subtask-input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 48px;

    border: 1px solid #D1D1D1;
    border-radius: 10px;

    background: white;
}

.subtask-input.active {
    border-bottom: 2px solid #29ABE2;
}

.subtask-actions {
    display: none;
    align-items: center;
    gap: 6px;
    padding-right: 16px;
}

.subtask-input.active .subtask-actions {
    display: flex;
}

.subtask-input.active .subtask-add-btn {
    display: none;
}

.subtask-divider {
    width: 1px;
    height: 20px;
    background: #D1D1D1;
}

textarea {
    resize: none;
    height: 120px;
}

.textarea-wrapper {
    position: relative;
    width: 100%;
}

.textarea-wrapper textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none; /* Standard-Icon ausblenden */
}

.textarea-icon {
    position: absolute;
    right: 12px;
    bottom: 10px;
    width: 16px;
    height: 16px;
    pointer-events: none;
}
/* ---------- Priority ---------- */

.priority-container {
    display: flex;
    gap: 16px;
}

.priority {
    flex: 1;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    font-family: inherit;
    cursor: pointer;
    transition: .15s;
}

.priority img {
    object-fit: contain;
}

.priority:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
}

.priority.active img {
    filter: brightness(0) invert(1);
}

.priority.urgent.active {
    background: #FF3D00;
    color: #fff;
    border-color: #FF3D00;
}

.priority.medium.active {
    background: #FFA800;
    color: #fff;
    border-color: #FFA800;
}

.priority.low.active {
    background: #7AE229;
    color: #fff;
    border-color: #7AE229;
}
/* ---------- Dropdown ---------- */

.dropdown-container {
    height: 48px;
    width: 440px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border: 1px solid var(--font-legalnotice);
    border-radius: 10px;

    background-color: white;
    color: var(--border-color-input);
    cursor: pointer;
}
.arrow-dropdown {
    width: 24px;
    height: 24px;

    margin-right: 20px;
    border: unset;
    background-color: transparent;

    background-image: url("../assets/icons/dropdown/Property 1=Default.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}
.arrow-dropdown:hover {
    border-radius: 30%;
    background-color: var(--background-no-task-feedback);
}

.rotate {
  transform: rotate(180deg);
}

.dropdown-item input[type="checkbox"] {
    appearance: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url(../assets/icons/board/cards/check-btn.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}
.dropdown-item input[type="checkbox"]:checked {
    background-image: url(../assets/icons/dropdown/check_active.svg);
}




.dropdown-container input {
    border: none;
    height: 46px;
}
input.dropdown::placeholder {
    color: black;
}
.dropdown-container:focus-within {
    border-color: var(--border-input-active);
}


/* ---------- Subtask ---------- */

.subtask-input {
    display: flex;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    overflow: hidden;
    background: white;
}

.subtask-input input {
    border: none;
}

.subtask-input input:focus {
    border: none;
}

.subtask-input button {
    width: 24px;
    height: 24px;
    border: none;
    background: white;
    cursor: pointer;
    font-size: 24px;
}

/* ---------- Footer ---------- */

.bottom-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-area p {
    font-size: 16px;
}

.red-required {
    color: red;
}

/* ---------- Buttons ---------- */

.button-area {
    display: flex;
    gap: 16px;
}

.clear-btn,
.create-btn {
    height: 56px;
    padding: 0 24px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: .15s;
}

.clear-btn {
    background: white;
    border: 1px solid #2A3647;
    color: #2A3647;
}

.clear-btn:hover {
    transform: scale(1.01);
    box-shadow: 0px 4px 4px 0px var(--box-shadow-choose-prio);
}

.create-btn {
    background: #2A3647;
    color: white;
    border: none;
}

.create-btn:hover {
    transform: scale(1.01);
    background: var(--border-input-active);
    box-shadow: 0px 4px 4px 0px var(--box-shadow-choose-prio);
}


.add-task-overlay {
    max-width: 1100px;
    max-height: 870px;
    
    position: fixed;
    padding: 30px;
    top: 55%;
    left: 45%;

    transform: translate(-50%, -50%);
    background-color: white;

    z-index: 1000;
    
    border-radius: 30px;
    width: 80%;
    overflow-y: auto;

    box-shadow: 0 8px 30px rgba(0, 0, 0, .15);
}

.add-task-overlay.show {
    display: block;
}

.add-task-overlay.show {
    display: block;
}

.btn-close-overlay {
    position: absolute;
    top: 32px;
    right: 32px;

    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background: transparent;

    font-size: 30px;
    color: #2A3647;

    cursor: pointer;

    border-radius: 50%;
}

.btn-close-overlay:hover {
    background: #EEEEEE;
}


.add-task-overlay.show .add-task-container h1 {
    font-size: 46px;
    margin-bottom: 40px;
}

.add-task-overlay.show .bottom-area {
        margin-top: 40px; }

/* sidebar */

.nav-active-task {
    background-color: var(--active-sidebar);
    color: white;
    font-weight: bold;
    
    pointer-events: none;
}

/* Subtasks */

.container-ul-subtask {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-subtasks {
    padding-top: 10px;
}

.li-subtask {
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
}
.container-subtask-li {
    height: 32px;
    width: 440px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    padding: 4px 16px 4px 30px;
}

.container-subtask-li:hover {
    border-radius: 10px;
    background-color: var(--background-no-task-feedback);
}

.container-edit-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
}

.container-subtask-li:hover .container-edit-btn {
    opacity: 1;
    visibility: visible;
}

.container-edit-btn img{
    width: 16px;
}
.container-edit-btn button {
    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    cursor: pointer;
    
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.container-edit-btn img {
    width: 16px;
    height: 16px;
    display: block;
}

.edit-button {
    background-image: url("../assets/icons/edit_delete/edit.svg");
}
.edit-button:hover {
    background-image: url("../assets/icons/edit_delete/edit_hover.svg");
}

.delete-button, .delete-button-edit {
    background-image: url("../assets/icons/edit_delete/delete.svg");
}
.delete-button:hover {
    background-image: url("../assets/icons/edit_delete/delete_hover.svg");
}
.delete-button-edit:hover {
    border-radius: 50%;
    background-color: var(--background-no-task-feedback);
}

.subtask-actions {
    display: none;
}

.subtask-input:focus-within .subtask-actions {
    display: flex;
}

.subtask-input button:hover {
  border-radius: 50%;
  background-color: var(--background-no-task-feedback);
}
.save-edited-task:hover {
  border-radius: 50%;
  background-color: var(--background-no-task-feedback);
}

.subtask-input {

  border: 1px solid var(--font-legalnotice);
  background-color: white;
  color: var(--border-color-input);
}
.subtask-input:hover {
  border: 1px solid var(--color-footer);
}
.subtask-input:focus-within {
  border: 1px solid var(--border-input-active);
}
.subtask-input:focus-within {
  color: black;
}

.subtask-edit-mode {
    background: white !important;
    border-radius: 0 !important;
    padding: 0 !important;
    padding-right: 16px !important;
    border-bottom: 1px solid black;
}
.subtask-edit-mode:hover {
    border-radius: 0 !important;
}
.btn-inner-html {
    display: flex;
    align-items: center;
    gap: 6px;
}
.container-edit-btn {
    display: flex;
    align-items: center;
    gap: 6px;
}
.subtask-edit-input {
    height: 32px !important;
    width: 100%;
    border: none !important;
    outline: none;
    font-size: 16px !important;
    font-family: inherit;
    background: transparent;
    border-radius: 0 !important;
    padding: 0;


}
.container-edit-btn img {
    width: 24px;
    height: 24px;
}
.always-visible {
    opacity: 1 !important;
    visibility: visible !important;
}
.list-subtasks {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightblue;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--title-kanban);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
}

.addtask-form {
    height: 630px;
    display: flex;
    flex-direction: column;
}

.confirm {
    position: fixed;
    left: 50%;
    top: 50%;

    transform: translate(-50%, 100vh);
    transition: transform 0.8s ease-in-out;

    z-index: 1000;

    font-size: 20px;
    background-color: var(--sidebar-background);
    box-shadow: var(--box-shadow-signup-info);
    color: white;

    width: 300px;
    height: 70px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.confirm::backdrop {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
}

.confirm.show {
    transform: translate(-50%, -50%);
}
.info-failed {
    color: red;
    font-size: 16px;
    padding-left: 15px;
}
.hidden {
    display: none;
}
.fail-red-border {
    border: 1px solid var(--border-input-fail) !important;
}
