/* View task overlay */

.view-task-overlay {
    width: 525px;
    min-height: 870px;
    max-height: 930px;
    border-radius: 30px;
    background-color: var(--color-white);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}
.view-task-overlay[open] {
    display: flex;
    flex-direction: column;
}
.view-task-overlay::backdrop {
    background-color: var(--color-black-50);
}
.frame-view-task {
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: column;
}
.header-view-task {
    padding: 40px 40px 0 40px;
}
.subheader-view-task {
    padding: 0px 40px 0 40px;
}
.headline-view-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-label-view {
    width: 164px;
    height: 36px;
}
.card-label-view div {
    font-size: 23px;
    font-weight: 400;
}
.category-user-story {
    background-color: var(--badge-color-11);
    color: var(--color-white);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 16px 4px 16px;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.category-technical-task {
    background-color: var(--badge-color-6);
    color: var(--color-white);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 16px 4px 16px;
    width: fit-content;
    height: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-icon-move {
    display: none;
}
.btn-close {
    background-image: url("../assets/img/close-btn/close-btn-default.svg");
    width: 32px;
    height: 32px;
    background-color: transparent;
}
.btn-close:hover {
    background-image: url("../assets/img/close-btn/close-btn-hover.svg");
}
.title-task-view {
    font-size: 61px;
    font-weight: 700;
    overflow-wrap: break-word;
    padding-top: 20px;
}
.description-task-view {
    font-size: 20px;
    font-weight: 400;
    overflow-wrap: break-word;
    padding-top: 20px;
}
.set-date,
.set-priority {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}
.due-date-text,
.priority-long-text {
    color: var(--color-blue-navy-900);
}
.text-long-prio {
    font-size: 20px;
}
.priority-long {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}
.set-date {
    padding-top: 25px;
}
.set-priority {
    padding-top: 25px;
}
.assignment-to-user {
    padding-top: 25px;
}
.text-assigned {
    font-size: 20px;
    color: var(--color-blue-navy-900);
}
.member-badge-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-top: 15px;
    margin-left: 25px;
}
.container-user {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.name-to-badge {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
}
.subtask-status {
    padding-top: 30px;
}
.title-subtask {
    font-size: 20px;
    color: var(--color-blue-navy-900);
}
.container-checkbox {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 8px;
    border-radius: 5px;
    padding: 3px 14px 3px 14px;
}
.container-checkbox:hover {
    background-color: whitesmoke;
}
.background-checkbox {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background-checkbox:hover {
    background-color: var(--color-gray-300);
}
.checkbox-subtask {
    width: 16px;
    height: 16px;
}
.description-subtask {
    font-size: 16px;
}
input[type="checkbox"] {
    appearance: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url("../assets/img/board/cards/check-btn.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: none !important;
}
input[type="checkbox"]:checked {
    background-image: url("../assets/img/board/cards/checked-btn.svg");
}
.frame-edit-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.img-delete {
    background-image: url("../assets/img/edit_delete/delete.svg");
    width: 16px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
}
.img-edit {
    background-image: url("../assets/img/edit_delete/edit.svg");
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
}
.seperator-view-task {
    background-color: var(--color-gray-300);
    width: 1px;
    height: 24px;
    margin-right: 8px;
}
.delete-task-view {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-block: 0px;
    padding-inline: 0px;
    gap: 10px;
}
.container-img-delete {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}
.edit-task-view {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-block: 0px;
    padding-inline: 0px;
    gap: 10px;
}
.container-img-edit {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}
.text-delete {
    font-size: 16px;
    min-width: 60px;
}
.text-edit {
    font-size: 16px;
    min-width: 30px;
}
.delete-task-view:hover .img-delete {
    background-image: url("../assets/img/edit_delete/delete_hover.svg");
}
.delete-task-view:hover .text-delete {
    color: var(--color-blue-700);
    font-weight: bold;
}
.edit-task-view:hover .img-edit {
    background-image: url("../assets/img/edit_delete/edit_hover.svg");
}
.edit-task-view:hover .text-edit {
    color: var(--color-blue-700);
    font-weight: bold;
}
.assigned-user-overlay {
    display: grid;
    gap: 15px;
}
.contact-names-overlay {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
}
.scroll-wrapper-task {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    width: 505px;
    display: flex;
    flex-direction: column;
}
.scroll-wrapper-task::-webkit-scrollbar-track {
    margin-top: 25px;
}
.footer-edit-overlay {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
}
.subtask-edit-feedback {
    color: var(--color-red-100);
    font-size: 16px;
    padding-right: 10px;
}
/* Animations */

.modal-enter {
    animation-name: slideRightAnimation;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}
@keyframes slideRightAnimation {
    0% {
        transform: translate(calc(-50% + 100vw), -50%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
.modal-exit {
    animation-name: slideOutRight;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}
@keyframes slideOutRight {
    from {
        transform: translate(-50%, -50%);
    }
    to {
        transform: translate(calc(-50% + 100vw), -50%);
        opacity: 0;
    }
}

/* Responsiveness */

@media (max-width: 992px) {
    .view-task-overlay {
        min-height: 640px;
        max-height: 720px;

        max-width: 396px;
        width: 90%;
    }
    .scroll-wrapper-task {
        width: 95%;
    }
    .title-task-view {
        font-size: 36px;
    }
    .description-task-view {
        font-size: 16px;
    }
    .card-label-view {
        width: 140px;
        height: 28px;
    }
    .category-technical-task {
        padding: 4px 8px 4px 8px;
    }
    .card-label-view div {
        font-size: 16px;
    }
    .frame-view-task span {
        font-size: 16px;
    }
    .due-date {
        font-size: 16px;
    }
    .name-to-badge {
        font-size: 16px;
    }
    .edit-task-overlay {
        min-height: 640px;
        max-height: 720px;

        max-width: 396px;
        width: 90%!important;
    }
    .edit-task-overlay .scroll-wrapper {
        width: 97%;
        height: 540px;
    }
    .edit-task-overlay .form-for-edit-task {
        width: 100%;
    }
    .btn-prio-in-edit-mode .btn-prio-edit {
        max-width: 100px;
        height: 44px;
    }
    .scroll-wrapper .frame-view-edit-task {
        padding: 0px 20px 0px 20px;
    }
    .set-up-prio-in-edit-mode button {
        gap: 0px;
    }
    .set-up-prio-in-edit-mode img {
        width: 20px;
    }
    .form-for-edit-task label {
        font-size: 16px;
    }
    .set-up-prio-in-edit-mode span{
        font-size: 16px;
    }
    .contact-names-overlay {
        max-width: 200px;
    }
    .edit-task-overlay .priority {
        gap: 0px;
        flex-direction: column;
    }
    .edit-task-overlay .priority span {
        padding-top: 10px;
    }
    .contact-info .contact-name {
        max-width: 200px;
    }
}

@media (max-width: 720px) {

.edit-task-overlay input:not(.search-task, .btn-search-task),
    .edit-task-overlay textarea {
        padding: 8px 8px;
    }
}

@media (max-width: 427px) {

    .header-view-task {
        padding: 20px 20px 0 20px;
    }
    .view-task-overlay .edit-btn {
        padding: 20px;
    }
    .subheader-view-task {
        padding: 0px 20px 0 20px;
    }
    .frame-view-task {
        padding: 0px 20px 0px 20px;
    }
    .edit-task-overlay .header-form {
        padding: 20px 20px 0px 20px;
    }
    .footer-edit-overlay {
        bottom: 20px;
        right: 20px;
    }
    .edit-task-overlay .scroll-wrapper {
        height: 560px;
    }
    .contact-info .contact-name {
        max-width: 150px;
    }
    .edit-task-overlay .contact-info .contact-name {
         max-width: clamp(
            110px,
            calc(110px + 90 * ((100vw - 320px) / 108)),
            200px);
    }
    .dropdown-item {
        padding-block: 12px;
        padding-inline: 
        clamp(14px,
            calc(14px + (22 - 14) * ((100vw - 320px) / (428 - 320))),
            22px);
    }
}

@media (max-height: 775px) and (max-width: 427px) {
    
        .edit-task-overlay {
            height: 640px !important;
        }
        .edit-task-overlay .scroll-wrapper {
            height: 480px;
        }
        .view-task-overlay {
            height: 640px !important;
        }
}