/* Content */

.content-board {
  padding: 180px 0px 0px 290px;
}

/* Header */

.header-board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1115px;
  padding-bottom: 40px;
}
h1 {
  font-size: 61px;
  font-weight: 700;
}
.task-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Search */

.search-container {
  width: 314px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--color-gray-600);
  background-color: var(--color-white);
  color: var(--color-gray-300);
}
.search-container:hover {
  border: 1px solid var(--color-gray-300);
}
.search-container:focus-within {
  border: 1px solid var(--color-blue-petrol);
}
.filter-container {
  width: 312px;
  display: flex;
  padding: 8px 16px;
}
.search-task {
  width: 232px;
  border: none;
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-gray-300);
}
.search-task:focus-within {
  color: var(--color-black);
}
.search-task:not(:placeholder-shown)~.container-btn .container-search-task .btn-search-task {
  background-image: url("../assets/img/board/header/search_hover.svg");
}
.search-task:not(:placeholder-shown)~.container-btn .container-search-task {
  border-radius: 50%;
  background-color: var(--color-gray-300);
}
.container-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 55px;
  height: 32px;
  padding: 0;
  flex-shrink: 0;
}
.container-search-task {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-search-task {
  width: 17px;
  height: 17px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url("../assets/img/board/header/search_default.svg");
  cursor: pointer;
}
.seperator {
  background-color: var(--color-gray-300);
  width: 1px;
  height: 30px;
  margin-right: 10px;
}

/* Add Task */

.btn-add-task {
  width: 160px;
  height: 48px;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url("../assets/img/board/header/add_task_default.svg");
}

/* General Elements */

button {
  cursor: pointer;
  border: unset;
}
input {
  border: unset;
}
input::placeholder {
  color: var(--color-gray-300);
}

/* Filter result */

.filter-result.hidden {
  display: none;
}
.filter-result {
  color: var(--color-red-100);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0 0 15px;
}

/* Sidebar */

.nav-active-board {
  background-color: var(--color-blue-navy-1000);
  color: var(--color-white);
  font-weight: bold;
  pointer-events: none;
}
.nav-active-board span {
  color: var(--color-white);
}

/* Responsiveness */

@media (max-width: 1439px) {

  .content-board {
        padding-top: 180px;
        padding-right: 0;
        padding-bottom: 0;

        padding-left: clamp(
            250px,
            calc(250px + 40 * ((100vw - 993px) / 446)),
            290px
        );

        width: 100%;
        overflow-x: hidden;
  }

  .header-board {
    max-width: 1190px;
  }
  .scroll-wrapper-vertical {
    display: flex;
    flex-direction: column;

    height: calc(100vh - 350px);
    overflow-y: auto;
    overflow-x: hidden;

    padding-right: 10px;
    width: calc(100% - 20px);
  }
  .kanban-column {
    flex-shrink: 0;
    width: 100%;
    height: auto;
  }
  .scroll-wrapper-kanban {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    padding: 0px 0px 10px 0px;
    margin-top: 10px;
  }
  .kanban-board {
    flex-direction: column;
    gap: 20px;
  }
  .scroll-wrapper-kanban::-webkit-scrollbar {
    height: 2px;
    width: 2px;
  }
  .kanban-content {
    flex-direction: row !important;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 1px;
  }
  .no-task-feedback {
    flex-shrink: 0;
    width: 100%;
  }
  .drag-area-highlight {
    flex-shrink: 0;
  }
  .mini-card {
    margin: 5px;
  }
  .btn-add-task {
    margin-right: 10px;
  }
}

@media (max-width: 992px) {

  .desktop-template {
    display: none;
  }
  .mobile-template {
    display: block !important;
  }
  main {
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }
  .content-board {
    padding: 40px 20px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  .scroll-wrapper-vertical {
    height: calc(100vh - 400px);
    width: 100%;
  }
  h1 {
    font-size: 47px;
    width: 396px;
  }
  .header-board {
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
  } 
  .search-container {
    width: 100%;
    max-width: 396px;
  }
  .search-container .search-task {
    width: 310px;
  }
  .filter-container {
    width: 100%;
  }
  .task-bar {
    padding-top: 30px;
    display: block;
  }
  .btn-add-task {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url(../assets/img/mobile/board_add_btn_mobile.svg);
    position: relative;
    top: -125px;
    right: -355px;
    z-index: 10;
  }
  .btn-add-task:hover {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url("../assets/img/mobile/board_add_btn_mobile_hover.svg");

    transform: none;
    margin-top: 0px;
  }
  .btn-add-task:active {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url("../assets/img/mobile/board_add_btn_mobile_active.svg");
  }
  .plus-btn-default {
    background-image: url('../assets/img/mobile/board_btn_kanban_mobile.svg');
  }
  .plus-btn-default:hover {
    background-image: url('../assets/img/mobile/board_btn_kanban_mobile_hover.svg');
    transform: none;
  }
  .btn-add-kanban {
    width: 30px;
    height: 30px;
  }
  .kanban-header {
    width: 100%;
    padding: 10px 0 10px 0;
  }
  .kanban-header h2 {
    font-size: 27px;
  }
  .kanban-board {
    flex-direction: column;
    gap: 20px;
  }
  .kanban-column {
    width: 100%;
    height: auto;
    padding-top: 10px;
  }
  .scroll-wrapper-kanban {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0px 0px 20px 0px;
  }
  .scroll-wrapper-kanban::-webkit-scrollbar {
    height: 2px;
    width: 2px;
  }
  .kanban-content {
    flex-direction: row !important;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 5px;
  }
  .no-task-feedback {
    flex-shrink: 0;
    width: 100%;
  }
  .drag-area-highlight {
    flex-shrink: 0;
  }
  .mini-card {
    margin: 5px;
  }
  .headline-minicard .mobile-icon-move {
    display: block;
  }
}

@media (max-width: 427px) {
  .content-board {
      padding: 15px 20px;
  }
  .search-container .search-task {
      width: clamp(200px, calc(200px + 110 * ((100vw - 320px) / 108)), 310px);
  }
  .btn-add-task {
      right: clamp(-355px, calc(-250px - 105 * ((100vw - 320px) / 108)), -250px);
  }
  h1 {
      width: clamp(300px, calc(300px + 96 * ((100vw - 320px) / 108)), 396px);
  }
}

@media (min-width: 993px) and (max-width: 1439px) and (max-height: 945px) {
  .content-board {
      padding: 120px 0 0 260px;
  }
  .scroll-wrapper-vertical {
      height: clamp(300px, calc(300px + 335 * ((100vh - 600px) / 400)), 635px);
  }
}
