/* Contact Overlay */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-black-50);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.overlay-container {
  position: relative;
  width: 1180px;
  height: 592px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.overlay-left {
  display: flex;
  flex-direction: column;
  background: var(--color-blue-navy-900);
  color: var(--color-white);
  border-radius: 30px 0px 0px 30px;
  gap: 12px;
  opacity: 1;
  padding-top: 66px;
  padding-right: 48px;
  padding-bottom: 66px;
  padding-left: 48px;
}
.join-logo-overlay {
  width: 55px;
  height: 66px;
  opacity: 1;
  margin-top: 99px;
}
.add-title {
  font-weight: 700;
  font-size: 61px;
  margin-top: 0px;
}
.p-tag {
  font-weight: 400;
  font-style: Regular;
  font-size: 27px;
}
.line {
  display: block;
  background: var(--color-blue-700);
  width: 90px;
  height: 3px;
}
.overlay-right {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex: 1;
  padding: 24px;
}
.overlay-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.overlay.open .overlay-container {
  transform: translateX(0);
}
.overlay-close {
  position: absolute;
  top: 48px;
  right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/img/close-btn/close-btn-default.svg");
  width: 32px;
  height: 32px;
  background-color: transparent;
}
.overlay-close:hover {
  background-image: url("../assets/img/close-btn/close-btn-hover.svg");
}
.btn-new-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 352px;
  height: 56px;
  border-radius: 10px;
  background-color: var(--color-blue-navy-900);
  border: solid 1px var(--color-blue-navy-900);
  color: var(--color-white);
  font-size: 21px;
  font-weight: 700;
  padding: 12px 16px;
  gap: 16px;
  opacity: 1;
  cursor: pointer;
}
.btn-new-contact:hover {
  background-color: var(--color-blue-700);
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.person-add {
  height: 32px;
  width: 32px;
}
.avatar-placeholder {
  width: 120px;
  height: 120px;
  margin-right: 32px;
  border-radius: 70px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-size: 47px;
  font-weight: 700;
  border: 3px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}
.user {
  object-fit: contain;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container-form-add-contact {
  width: 420px;
  display: flex;
  flex-direction: column;
  color: var(--color-gray-300);
}
.input-wrapper {
  width: 100%;
  width: 420px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  border-radius: 10px;
  border: 1px solid var(--color-gray-300);
}
.input-wrapper input {
  height: 48px;
  border: none;
  font-size: 20px;
  padding: 0 30px 0 10px;
  outline: none;
  width: 100%;
  flex: 1;
}
.input-wrapper:has(input:focus) {
  border: 1px solid var(--color-blue-petrol);
}
.input-wrapper.fail-red-border,
.input-wrapper.fail-red-border:has(input:focus) {
  border: 1px solid var(--color-red-100);
}
.input-icon {
  width: 24px;
  height: 24px;
}
.overlay-buttons {
  height: 57px;
  display: flex;
  align-items: center;
  gap: 32px;
  padding-top: 30px;
}
.btn-cancel,
.btn-delete {
  width: 140px;
  height: 60px;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid var(--color-blue-navy-900);
  padding: 16px;
  background: var(--color-white);
  color: var(--color-blue-navy-900);
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-cancel:hover,
.btn-delete:hover {
  border: 2px solid var(--color-blue-petrol);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn-create {
  width: 210px;
  height: 60px;
  gap: 4px;
  border-radius: 10px;
  border: none;
  padding: 16px;
  background: var(--color-blue-navy-900);
  color: var(--color-white);
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-create:hover {
  background: var(--color-blue-petrol);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.edit,
.delete {
  display: flex;
  align-items: center;
  gap: 13px;
  width: 62px;
  height: 24px;
  opacity: 1;
  cursor: pointer;
}
.edit p,
.delete p{
  font-size: 16px;
  color: var(--color-blue-navy-900);
}
.edit:hover p,
.delete:hover p{
  font-weight: bold;
  color: var(--color-blue-petrol);
}
.edit img {
  content: url("../assets/img/contact/edit.svg");
}
.edit:hover img {
  content: url("../assets/img/contact/edit_hover.svg");
}
.delete img {
  content: url("../assets/img/contact/delete.svg");
}
.delete:hover img {
  content: url("../assets/img/contact/delete_hover.svg");
}