/* Sidebar */

.sidebar-nav-container {
    padding-top: 0;
    height: auto;
}
.sidebar {
    width: 232px;
    height: 100vh;
    height: 100dvh;
    
    background-color: var(--color-blue-navy-900);
    box-shadow: var(--color-black-40);
    position: fixed;

    display: flex;
    flex-direction: column;
    
    padding-top: 64px;
    padding-bottom: 64px;
}
.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 95px;
}
.sidebar-nav {
    width: 232px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    opacity: 1;
}
.sidebar-nav span {
    color: var(--color-gray-300);
    font-size: 16px;
}
.nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 232px;
    height: 46px;
    padding: 8px 56px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0 8px 8px 0;

    transition: background-color 100ms ease,
                transform 100ms ease;
}
.nav-item img {
    width: 30px;
}
.sidebar-back {
    margin-bottom: 183px;
}
.nav-item:hover {
    background-color: var(--color-blue-navy-950);
    font-weight: bold;
}
.nav-item:active {
    background-color: var(--color-blue-navy-1000);
}
.content {
    margin-left: 232px;
    flex: 1;
}
.join-logo {
    display: flex;
    justify-content: center;
}
.join-logo-img {
    width: 100px;
    height: 120px;
}
.footer-flex-grow {
    min-height: 330px;
    flex: 1;
}
.sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.sidebar-footer a {
    color: var(--color-gray-300);
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 232px;
    height: 46px;
    padding: 8px 56px;
    transition: background-color 100ms ease,
                transform 100ms ease;
}
.sidebar-footer a:hover {
    background-color: var(--color-blue-navy-950);
    font-weight: bold;
}
.container-header {
    height: 96px;

    position: fixed;
    top: 0;
    left: 232px;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    padding: 20px 40px 20px 96px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    z-index: 2;
}
.title-kanban {
    font-size: 20px;
}
.header-help {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: width 0.2s, height 0.2s;
    color: var(--color-gray-700);
    margin-top: 5px;
    transition: background-color 100ms ease,
                transform 100ms ease;
}
.header-help:hover {
    transform: scale(1.2);
}
.header-help-container {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header-right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
}
.user-menu {
    border-radius: 50%;
    border-width: 0px;
}
.circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--color-white);
    border: 3px solid var(--color-blue-navy-900);
    cursor: pointer;
}
.circle:hover, 
.circle.active {
    background-color: var(--color-blue-200);
}
.user-initials {
    color: var(--color-blue-petrol);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav-user li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    width: 130px;
    height: 46px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 100ms ease,
                transform 100ms ease;
}
.nav-user a,
.nav-user a:visited,
.nav-user a:hover,
.nav-user a:active {
    color: var(--color-gray-500);
    text-decoration: none;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}
.nav-user li:hover {
    background-color: var(--color-blue-navy-950);
}
.nav-user li:hover a {
    color: var(--color-white);
    font-weight: bold;
}
.nav-user {
    position: absolute;

    top: calc(100% + 25px);
    right: 0;
    transform: translateX(-32px);
   
    width: 150px;
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-blue-navy-900);
    background-color: var(--color-blue-navy-900);
    border-radius: 20px 0 20px 20px;
    color: var(--color-gray-500);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);

    opacity: 0;
    pointer-events: none;

    transform: translateX(30px);
    transition: opacity 0.3s ease,
                transform 0.3s ease;    
}
.nav-user button {
    border: unset;
    background-color: transparent;
    pointer-events: none;
}
.nav-user.open-animation {
    opacity: 1;
    transform: translateX(-32px);
    z-index: 1000;

    pointer-events: auto;
}
.nav-user.open-animation button {
    pointer-events: auto;
}