/* HEADER */

.frame_summary {
    width: 1000px;
    height: 700px;
}
.headline {
    display: flex;
}
.seperator {
    background-color: var(--seperator-summary);
    width: 3px;
    margin-right: 10px;
    height: 60px;
}